body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

#button {
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    height: 40px;
    width: 300px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border: none;
}